<nav class="navbar navbar-expand-lg fixed-top py-3">
  <div class="container-fluid">
    <a href="" class="logo" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-columns" viewBox="0 0 16 16">
      <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V2zm8.5 0v8H15V2H8.5zm0 9v3H15v-3H8.5zm-1-9H1v3h6.5V2zM1 14h6.5V6H1v8z"/>
    </svg></a>
    <a href="#" class="navbar-brand  font-weight-bold">Quizzy</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active"><a class="nav-link text-uppercase font-weight-bold" routerLink="/home">Home </a></li>
              <li class="nav-item active"><a  class="nav-link text-uppercase font-weight-bold" routerLink="/admin">Admin</a></li>
              <li class="nav-item"><a  class="nav-link text-uppercase font-weight-bold" routerLink="/signin">Signin</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" routerLink='/register'>Gallery</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" routerLink="contact">Games</a></li>

        
          </ul>
      </div>
  </div>

  
</nav>

