span{
    padding-left: 25px;
}
.main{
    
    
    background: rgb(63,196,90);
    background: linear-gradient(90deg, rgba(63,196,90,1) 0%, rgba(141,122,57,1) 0%, rgba(110,106,213,1) 0%, rgba(0,212,255,1) 100%);
        
}
.main-btn{
    margin: 20px;
    height: fit-content;
}
.item-label{
    margin: 1%;
    width: 40%;
    text-align: end;
}
.item-input{
    margin: 1%;
    width: 16%;
    margin-right: 30%;
}
button{
    margin: 1%;
    margin-left:38%;
    width: 20%;
}
#text-input{
    width: 50%;
}

@media screen and (min-width:800px) {
    .main{
       
       
        
    }
}
