.main{
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    
}
.conatiner-fluid {

    background: url('/../../assets/images/pastel-blue-vignette-concrete-textured-background.jpg');
    padding-bottom: 25px;
    padding-top: 180px;
}
a{
    margin: 10%;
}
.main-btn{
    margin: 10%;
}

label{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255, 169, 9, 0.733);
    
}
.item-label{
    margin: 15px;
    width: 30%;
    text-align: end;
}
.item-input{
    margin: 15px;
    width: 60%;
    margin-right: 0px;
}
.content{
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
}
.content-btn{
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
}


